/* Created by: Brandon Brandhuber
* Created on: March 2025
* This file contains the CSS for index.html
*/

body {
    background-color: rgb(241, 150, 170);
}

h1 {
    background-color: rgb(213, 229, 153);
    color: hsl(170, 80%, 71%);
    padding: 40px;
    text-align: center;
}